textarea[readonly] {
  cursor: text;
}
.btn-custom {
 background-color: #e6b34c !important;
}
.btn-custom:hover {
  background-color: #e6a117 !important;
}
#banner {
  border-bottom: 4px solid #e6b34c; /* dd4a22, d22000, b04420 */
}
.alert-info {
  background-color: #d4fff8;
}

.uri input {
  background-color: #ffebd5;
}

#accordionAdvanced .accordion-toggle {
  color: #999;
}
#accordionAdvanced .accordion-toggle:hover {
  text-decoration: none;
}
#accordionAdvanced .accordion-toggle:before {
  display: inline-block;
  content: "-\00a0";
}
#accordionAdvanced .accordion-toggle.collapsed:before {
  content: "+\00a0"
}

