<div class="alert alert-warning">
<p> When using this, if you or the person you're sending the secret to ever gets the message "Unknown Secret: It either never existed or has already been viewed," then you absolutely must change that password immediately.</p>
</div>
